USE [master]
GO
/****** Object:  Database [ToDoListData]    Script Date: 15.11.2018 20:53:09 ******/
CREATE DATABASE [ToDoListData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoListData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToDoListData.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDoListData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToDoListData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoListData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoListData]
GO
/****** Object:  Table [dbo].[TodoList]    Script Date: 15.11.2018 20:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](100) NULL,
	[Notes] [nvarchar](200) NULL,
	[Done] [bit] NOT NULL,
 CONSTRAINT [PK_TodoList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TodoList] ON 

INSERT [dbo].[TodoList] ([Id], [TaskName], [Notes], [Done]) VALUES (1, N'Make a practical task.', N'Make a practical task.', 1)
INSERT [dbo].[TodoList] ([Id], [TaskName], [Notes], [Done]) VALUES (2, N'Send a practical task.', N'Send a practical task.', 1)
INSERT [dbo].[TodoList] ([Id], [TaskName], [Notes], [Done]) VALUES (3, N'pet a cat', N'pet a cat', 0)
SET IDENTITY_INSERT [dbo].[TodoList] OFF
USE [master]
GO
